.AddTodoForm {
    margin-top: 7%;
    margin-bottom: 3%;
}

.AddTodoForm input {
    width: 30%;
    margin-right: 1%;
    padding: 0.8%;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightskyblue;
    font-size: 16px;
    background-color: #eee;
}

.AddTodoForm button {
    font-family: "Roboto", sans-serif;
    background-color: #4285f4;
    color: white;
    font-size: 16px;
    padding: 0.8%;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    width: 10%;
}

.AddTodoForm button:hover {
    background-color: #1184e8;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .AddTodoForm {margin-top: 10%;
        margin-bottom: 13%;
    }
    .AddTodoForm input {
        width: 90%;
        padding: 4%;
        font-size: 20px;
    }
    .AddTodoForm button {
        margin-top: 5%;
        width: 25%;
        padding: 3%;
    }
}
