.TodoListItem {
    border: 1px solid lightskyblue;
    border-radius: 5px;
    height: 50px;
    margin: 1% 0 1% 0;
    padding: 0.5% 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TodoListItem:hover {
    background-color: lightgray;
}

.CheckedInput {
    border: 1px solid lightskyblue;
    background-color: lightgreen;
    border-radius: 5px;
    height: 50px;
    margin: 1% 0 1% 0;
    padding: 0.5% 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TodoListText {
    width: 70%;
}

.TodoListText input {
    margin-right: 2%;
}

.TodoListItemButtons {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TodoListBtnDelete {
    font-family: "Roboto", sans-serif;
    background-color: #db4437;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    height: 35px;
    width: 35%;
}

.TodoListBtnEdit {
    font-family: "Roboto", sans-serif;
    background-color: #f48b00;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    height: 35px;
    width: 30%;
    margin-right: 5%;
}

.TodoListBtnDelete:hover {
    background-color: #ff0000;
    cursor: pointer;
}

.TodoListBtnEdit:hover {
    background-color: #f4b400;
    cursor: pointer;
}

.TodoListEditPopup {
    position: absolute;
    left: 40%;
    top: 50%;
    background-color: lightblue;
    width: 300px;
    height: 120px;
    padding: 1%;
}

.TodoListEditPopup input {
    border: 1px solid #ededed;
    width: 80%;
    font-size: 15px;
    padding: 10px;
    margin: 15px;
    outline: none;
}

.TodoListEditForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TodoListEditPopup .TodoListEditForm button {
    font-family: "Roboto", sans-serif;
    background-color: #f48b00;
    color: white;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 30%;
}

.TodoListEditPopup .TodoListEditForm button:hover {
    cursor: pointer;
    background-color: #f4b400;
}

@media (max-width: 1200px) {
    .TodoListItem {
        height: 60px;
        margin: 5% 0 5% 0;
        font-size: 20px;
    }
    .CheckedInput {
        height: 60px;
        margin: 5% 0 5% 0;
        font-size: 20px;
    }
    .TodoListText {
        width: 50%;
    }
    .TodoListText input {
        margin-right: 5%;
    }
    .TodoListItemButtons {
        width: 50%;
    }
    .TodoListBtnDelete {
        width: 50%;
    }
    .TodoListBtnEdit {
        width: 40%;
    }
    .TodoListEditPopup {
        left: 8%;
        top: 35%;
        padding: 2%;
    }
}
