.menu-container {
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    min-height: 100vh;
    padding: 2rem 1rem;
}
h1 {
    text-align: center;
    letter-spacing: 0.1rem;
    color: #404042;
    font-size: 2.5rem;
    margin-bottom: 0;
}

hr {
    width: 5%;
    background-color: orange;
    border: 2px solid orange;
    margin-bottom: 2rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}