.menu-container {
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    min-height: 100vh;
    padding: 2rem 1rem;
}
h1 {
    text-align: center;
    letter-spacing: 0.1rem;
    color: #404042;
    font-size: 2.3rem;
    margin-bottom: 0;
}

hr {
    width: 25%;
    background-color: orange;
    border: 2px solid orange;
    margin-bottom: 3rem;
}

.menu-buttons {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

button {
    border: none;
    border-radius: 4px;
    background-color: orange;
    color: white;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    width: 5rem;
    height: 2.5rem;
    margin-right: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    transition: all 0.3s linear;
}

button:hover {
    background-color: white;
    color: orange;
    border: 2px solid orange;
}

.menu {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1 {
        font-size: 2.5rem;
    }
    hr {
        width: 5%;
    }
    button {
        width: 7rem;
        margin-right: 1rem;
        font-size: 1rem;
    }
}
