.MyTodoList {
    padding: 2%;
    background-color: lightblue;
    min-height: 100vh;
}

.MyTodoList .MyTodoListContainer{
    margin: 5% auto;
    padding: 2%;
    width: 80%;
    background-color: #eee;
}

.MyTodoList .MyTodoListContainer h1 {
    margin-top: 0;
}

@media (max-width: 1200px) {
    .MyTodoList {
        padding: 20% 0.5% 0.5% 0.5%;
    }
}