.review {
    width: 70vw;
    background-color: white;
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.review:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.review .img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.review .img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #2b9fd4;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}

.review img {
    width: 100%;
    /* display: block; */
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.review .quote-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: #2b9fd4;
    color: white;
}

.review h2 {
    text-transform: capitalize;
    font-size: 1rem;
    color: rgba(22, 22, 22, 0.89);
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.review h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #2b9fd4;
    margin-top: 0;
    font-weight: 400;
}

.review p {
    color: rgb(109, 107, 107);
    font-size: 0.9rem;
    line-height: 1.7;
}

.review .review-switch {
    border: none;
    color: #2b9fd4;
    background-color: transparent;
    font-size: 1.7rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

.review .review-switch:hover {
    color: #1078a8;
}

.review .review-surprise {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    border: none;
    border-radius: 5px;
    color: #2b9fd4;
    background-color: transparent;
    padding: 0.3rem 0.7rem;
    margin-top: 1rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

.review .review-surprise:hover {
    background-color: #2b9fd4;
    color: black;
}

@media screen and (min-width: 800px) {
    .review {
        width: 40vw;
    }
}
